CONFIG_IDF_TARGET="esp32p4"
CONFIG_BOARD_MANUFACTURER_ALL=y
CONFIG_BOARD_ESP32_P4_FUNCTION_EV_BOARD=y

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_XIP_FROM_PSRAM=y
CONFIG_IDF_EXPERIMENTAL_FEATURES=y

# Improve FPS
CONFIG_CACHE_L2_CACHE_256KB=y
CONFIG_CACHE_L2_CACHE_LINE_128B=y

CONFIG_LVGL_PORT_AVOID_TEARING_MODE_3=y
