menu "ESP Display Panel Configurations"
    config ESP_PANEL_CONF_FILE_SKIP
        bool "Unckeck this to ignore `ESP_Panel_Conf.h`"
        default y

    config ESP_PANEL_BOARD_FILE_SKIP
        bool "Unckeck this to ignore `ESP_Panel_Board_*.h`"
        default y

    orsource "./src/utils/Kconfig.utils"

    orsource "./src/touch/Kconfig.touch"

    orsource "./src/board/Kconfig.board"

endmenu
