menu "Backlight"
    config ESP_PANEL_BACKLIGHT_IO
        int "Pin num"
        default 45
        range 0 100

    config ESP_PANEL_BACKLIGHT_ON_LEVEL
        bool "The level to turn on"
        default y

    config ESP_PANEL_BACKLIGHT_IDLE_OFF
        bool "Turn off after initializing the panel"
        default n
        help
            Set to 1 if you want to turn off the backlight after initializing the panel; otherwise, set it to turn on

    config ESP_PANEL_LCD_BL_USE_PWM
        bool "Use PWM to control the brightness"
        default y
endmenu
