menu "Test Configurations"
    choice LVGL_PORT_AVOID_TEARING_MODE_CHOICE
        prompt "Avoid Tearing Mode"
        depends on SOC_LCD_RGB_SUPPORTED || SOC_MIPI_DSI_SUPPORTED
        default LVGL_PORT_AVOID_TEARING_MODE_NONE

        config LVGL_PORT_AVOID_TEARING_MODE_NONE
            bool "None"

        config LVGL_PORT_AVOID_TEARING_MODE_1
            bool "Mode1: LCD double-buffer & LVGL full-refresh"

        config LVGL_PORT_AVOID_TEARING_MODE_2
            bool "Mode2: LCD triple-buffer & LVGL full-refresh"

        config LVGL_PORT_AVOID_TEARING_MODE_3
            bool "Mode3: LCD double-buffer & LVGL direct-mode (recommended)"
    endchoice

    config LVGL_PORT_AVOID_TEARING_MODE
        int
        default 3 if LVGL_PORT_AVOID_TEARING_MODE_3
        default 2 if LVGL_PORT_AVOID_TEARING_MODE_2
        default 1 if LVGL_PORT_AVOID_TEARING_MODE_1
        default 0 if LVGL_PORT_AVOID_TEARING_MODE_NONE || !SOC_LCD_RGB_SUPPORTED
endmenu
