menu "Board"
    choice
        prompt "Select the board type"
        default ESP_PANEL_IGNORE_BOARD

        config ESP_PANEL_IGNORE_BOARD
            bool "None"
            help
                Enable this option if you are not using a board.

        config ESP_PANEL_USE_SUPPORTED_BOARD
            bool "Supported board"
            help
                Enable this option if you are using a supported board.

        config ESP_PANEL_USE_CUSTOM_BOARD
            bool "Custom board"
            help
                Select this option if you are using a custom board.
    endchoice

    if ESP_PANEL_USE_SUPPORTED_BOARD
        orsource "./Kconfig.board_supported"
    endif

    if ESP_PANEL_USE_CUSTOM_BOARD
        orsource "./Kconfig.board_custom"
    endif

endmenu
