choice
    prompt "Select the manufacturer"
    default BOARD_MANUFACTURER_ALL

    config BOARD_MANUFACTURER_ALL
        bool "All"
        help
            Espressif, Elecrow, M5Stack, Shenzhen Jingcai Intelligent, Waveshare

    config BOARD_MANUFACTURER_ESPRESSIF
        bool "Espressif"
        help
            https://www.espressif.com/en/products/devkits

    config BOARD_MANUFACTURER_ELECROW
        bool "Elecrow"
        help
            https://www.elecrow.com

    config BOARD_MANUFACTURER_M5STACK
        bool "M5Stack"
        help
            https://m5stack.com/

    config BOARD_MANUFACTURER_JINGCAI
        bool "Shenzhen Jingcai Intelligent"
        help
            https://www.displaysmodule.com/

    config BOARD_MANUFACTURER_WAVESHARE
        bool "Waveshare"
        help
            https://www.waveshare.com/
endchoice

choice
    prompt "Select a target board"

    if BOARD_MANUFACTURER_ESPRESSIF || BOARD_MANUFACTURER_ALL
        orsource "./espressif/Kconfig.espressif"
    endif

    if BOARD_MANUFACTURER_ELECROW || BOARD_MANUFACTURER_ALL
        orsource "./elecrow/Kconfig.elecrow"
    endif

    if BOARD_MANUFACTURER_M5STACK || BOARD_MANUFACTURER_ALL
        orsource "./m5stack/Kconfig.m5stack"
    endif

    if BOARD_MANUFACTURER_JINGCAI || BOARD_MANUFACTURER_ALL
        orsource "./jingcai/Kconfig.jingcai"
    endif

    if BOARD_MANUFACTURER_WAVESHARE || BOARD_MANUFACTURER_ALL
        orsource "./waveshare/Kconfig.waveshare"
    endif
endchoice
